@import url('https://fonts.googleapis.com/css2?family=Archivo&family=VT323&display=swap');

* {
    font-family: 'Archivo',
        sans-serif;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url("botw1.png");
    background-attachment: fixed;
}

header {
    background-color: hsl(33, 23%, 17%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px;
    color: #ffffff;
    font-size: 18px;
}

h1 a {
    text-decoration: none;
    color: #ffffff;
}

#landing-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#landing-title h2,
#landing-title p {
    display: flex;
    justify-content: center;
}

#landing-title h2 {
    font-size: 30px;
    margin: 10px 0;

}

#landing-title p {
    font-size: 20px;

}

ul {
    margin: 1em auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    max-width: 900px;
}


#category-select,
#item-select {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1em 0;
}

#category-select figure,
#item-select figure {
    background-color: hsl(33, 13%, 57%);
    padding: 6px 6px;
    border-radius: 6px;

}

#category-select figcaption,
#item-select figcaption {
    background-color: hsl(33, 13%, 85%);
    padding: 10px 0;
}

#category-select a,
#item-select a {
    text-decoration: none;
}

#category-select:hover,
#item-select:hover {
    padding: 5px 5px;
    border-radius: 6px;
    background-color: #1c73e8;
}

#category-select,
#item-select {
    padding: 5px 5px;
}

#category-select p {
    color: hsl(33, 23%, 17%);
    font-size: 24px;
    font-weight: 700;
}

#item-select img {
    width: 180px;
}

#item-select p {
    color: hsl(33, 23%, 17%);
    font-weight: 700;
}

#item-profile {
    margin: 1em auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    max-width: 900px;
}

#item-profile ul {
    width: 90%;
}

#item-profile li {
    margin: 4px 4px;
}

#item-profile li>div {
    font-size: 16px;
    font-weight: 600;
    background-color: goldenrod;
    border: 3px solid #ffffff;
    padding: 8px 4px;
    border-radius: 6px;
}

#item-profile h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

#item-profile img {
    border-right: 6px solid hsl(33, 13%, 57%);
}

#item-profile>figure {
    display: flex;
    justify-content: space-between;
    background-color: hsl(33, 13%, 57%);
    padding: 6px 6px;
    border-radius: 6px;
    width: 900px;
    max-width: 100%;
}

#item-profile figcaption {
    background-color: hsl(33, 13%, 85%);
    padding: 10px 0;
    padding: 10px 10px;
    text-align: center;
    width: 100%;
}

#item-profile h5 {
    border-top: 6px dotted hsl(33, 13%, 57%);
    font-size: 20px;
    margin-top: 20px;
    padding-top: 10px;
}

#interactive-map {
    margin: 20px 0;
    max-width: 900px;
    background-color: hsl(33, 13%, 57%);
    padding: 6px 6px;
    border-radius: 6px;
}

#interactive-map li {
    list-style: inside;
    font-weight: 600;
}

#interactive-map section {
    background-color: hsl(33, 13%, 85%);
    text-align: center;
}

#interactive-map h4 {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

iframe {
    display: flex;
    box-sizing: border-box;
    width: 900px;
    max-width: 100%;
    height: 400px;
    border-top: 6px solid hsl(33, 13%, 57%);
}