@import url('https://fonts.googleapis.com/css2?family=Archivo&family=VT323&display=swap');

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}


* {
    font-family: 'Archivo',
        sans-serif;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url("image/botw1.png");
    background-attachment: fixed;
}

header {
    background-color: hsl(33, 23%, 17%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}

header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}

header a:hover {
    color: #1c73e8;
}

@media only screen and (max-width: 740px) {
    header a {
        flex-direction: column;
    }
}

@media only screen and (max-width: 740px) {
    form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}


header img {
    width: 40px;
    margin-right: 10px;
}

main {
    margin: auto;
    width: 80%;
    max-width: 900px;
}

@media only screen and (max-width: 740px) {
    main {
        width: 90%;
    }
}

#landing {
    margin: auto;
    text-align: center;
}

#landing h2 {
    font-size: 32px;
    font-weight: 700;
    margin-top: 1em;
}

#landing p {
    margin-top: 1em;
    font-size: 20px;
}

ul {
    margin: 1em auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


#category-select,
#item-select {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1em 0;
}

#category-select figure,
#item-select figure {
    background-color: hsl(33, 13%, 57%);
    padding: 6px 6px;
    border-radius: 6px;
}

#category-select figcaption,
#item-select figcaption {
    background-color: hsl(33, 13%, 85%);
    padding: 10px 0;
}

#category-select a,
#item-select a {
    text-decoration: none;
}

#category-select:hover,
#item-select:hover {
    padding: 5px 5px;
    border-radius: 6px;
    background-color: #1c73e8;
}

#category-select,
#item-select {
    padding: 5px 5px;
}

#category-select p {
    color: hsl(33, 23%, 17%);
    font-size: 24px;
    font-weight: 700;
}

#item-select img {
    width: 180px;
}

@media only screen and (max-width: 740px) {
    #item-select img {
        width: 140px;
    }
}

#item-select p {
    color: hsl(33, 23%, 17%);
    font-weight: 700;
}

#landing-item p {
    margin-top: 10px;
    font-size: 18px;
}

@media only screen and (max-width: 740px) {
    #landing-item p {
        font-size: 16px;
    }
}

#item-profile {
    margin: auto;
    margin-top: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 740px) {
    #item-profile {
        max-width: 450px;
    }
}

#item-profile ul {
    width: 90%;
}

#item-profile li {
    margin: 2px 0;
}

#item-profile li>div {
    width: 110px;
}

#item-profile li>div {
    font-size: 14px;
    font-weight: 600;
    background-color: hsl(43, 74%, 65%);
    border: 3px solid #ffffff;
    padding: 2px 2px;
    border-radius: 6px;
}

#item-profile h3 {
    font-size: 22px;
    font-weight: 600;
}

#item-profile img {
    border-right: 6px solid hsl(33, 13%, 57%);
}

@media only screen and (max-width: 740px) {
    #item-profile img {
        border-right: none;
        border-bottom: 6px solid hsl(33, 13%, 57%);
    }
}

#item-profile>figure {
    display: flex;
    justify-content: space-between;
    background-color: hsl(33, 13%, 57%);
    padding: 6px 6px;
    border-radius: 6px;
}

@media only screen and (max-width: 740px) {
    #item-profile>figure {
        flex-direction: column;
    }
}

#item-profile figcaption {
    background-color: hsl(33, 13%, 85%);
    padding: 10px 0;
    padding: 10px 10px;
    text-align: center;
}

#item-profile h5 {
    border-top: 6px dotted hsl(33, 13%, 57%);
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    padding-top: 10px;
}

#interactive-map {
    margin: 20px 0;
    background-color: hsl(33, 13%, 57%);
    padding: 6px 6px;
    border-radius: 6px;
}

#interactive-map li {
    display: flex;
    align-items: center;
    list-style: inside;
    font-weight: 600;
    border: 3px solid hsl(33, 13%, 57%);
    border-radius: 6px;
}

#interactive-map button {
    padding: 0;
    margin-left: 2px;
}

#interactive-map img {
    width: 20px;
}

#interactive-map section {
    background-color: hsl(33, 13%, 85%);
    text-align: center;
}

#interactive-map h4 {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

iframe {
    display: flex;
    box-sizing: border-box;
    width: 900px;
    max-width: 100%;
    height: 400px;
    border-top: 6px solid hsl(33, 13%, 57%);
}

.hidden {
    display: none;
}

.spinner {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    opacity: 70%;
}

.spinner>img {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 50%;
}